@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>COMMENT ÇA MARCHE ?</h2>
<p>
    Ça vous dit de payer votre iPhone ou votre voyage jusqu’à 80% moins cher? zid.tn est le premier site d’enchère libre EN TUNISIE. Vous enchérissez sur le produit qui vous intéresse, et si vous êtes le dernier à avoir la main, il est à vous !

    Si vous planifiez d’acheter un smartphone, une télévision écran plat UHD 55p, ou peut-être un voyage pour deux au Thaïlande…ça tombe bien, le site zid.tn va vous permettre d’acheter ce que vous voulez à bas prix (jusqu’à 80 % de remise….oui c’est vrai jusqu’à 80% de remise) le site va littéralement bouleverser vos habitudes d’achat sur le web.

    Pourquoi ? Parce qu’il s’agit du premier site d’enchère libre en Tunisie. Vous achetez votre droit de participations (non remboursable) dans une salle d’enchère en ligne mettant en vente le produit qui vous intéresse. Une fois la salle remplie de participants, vous pouvez alors enchérir sur ce produit.
</p>
<h4>Vous êtes à tous les coups gagnants</h4>
<p>En effet les frais correspondants à votre droit de participation vous seront retournés sous forme de remise considérablement supérieure aux frais de participations payés. Zid.tn propose de nombreux produits high tech et électroménagers… (iPhone 13 Pro Max, TV Smart 4K Samsung, voyage pour deux au Thaïlande, Malaisie, Turquie…).</p>
<p>
    Zid.tn vous offre une nouvelle alternative pour vos achats : l’enchère en ligne. Les enchères sont un moyen efficace pour obtenir l’objet de ses convoitises à bas coût tout en s’amusant. Zid.tn a pour ambition de révolutionner vos achats de tous genres ! De plus, Zid.tn, c’est 0% arnaque, 100% garanti et sécurisé. Le site repose sur le nombre d’utilisateurs présents : plus ils sont présents, plus vite les salles d’enchères pourront être ouvertes.
</p>
<p>
    En bref, voici les étapes d’inscription simplifiées :<br />

    1- Tout d’abord vous devez vous-inscrire à notre site web www.Zid.tn en créant votre compte personnel.<br />
    2- Puis vous devez choisir la salle d’enchère du produit désiré.<br />
    3- Dès que le choix du produit est fait, vous devez vous-inscrire à la salle correspondante en payant les frais de participation.<br />
    4-Quand la barre de progression, montrant le taux de remplissage de la salle d'enchère, n'est pas remplie à 100%, l'enchère ne se lancera pas à l'heure prévue et sera automatiquement reporté pour la semaine d'après.<br />
    5- Une fois la salle d’enchère est remplie, un email de confirmation vous sera envoyé afin de vous informer de la date et l’heure exacte du commencement de l’enchère.<br />
</p>
<p>
    Vous êtes déjà inscrits à une salle d’enchère ?<br />
    L’enchère débutera bientôt et vous n’avez aucune idée sur le processus de l’enchère ?<br />
    Veuillez comprendre ces points importants afin de maximiser vos chances pour remporter l’enchère :<br />
    - Le prix du départ de chaque produit mis en enchère sera 1 Dinar.<br />
    - Les participants à l’enchère pourront miser par 100 milimes ou bien 200 milimes seulement.<br />
    - Chaque participant a le droit à 5 mises gratuites durant l’enchère.<br />
    - Si vous avez utilisé vos 5 mises gratuites, vous pourrez acheter des Jetons Zid de mise ; (10 jetons=13dt / 15 jetons=19dt / 20 jetons=25dt / 25 jetons=30dt / 100 jetons=110dt)<br />
    - Notez bien que les frais d’achat des jetons sont remboursables que dans le cas où une enchère est annulée, sinon les jetons ne sont pas remboursables.<br />
    - Une fois l’enchère lancée, un compte à rebours de 10 minutes sera affiché (10 minutes pour que les participants rejoignent l'enchère, ne gaspillez pas vos jetons 😉 .<br />
    -L'enchère commence après 9 minutes et 50 secondes, les dernières 10 secondes du compte à rebours seront automatiquement renouvelées à chaque nouvelle surenchère de 100 ou 200 milimes.<br />
<p>