<div class="text-center">
    <h1>Bienvenue a la room !</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJLM2D0YKPmUnkMXdDK-XrHia7dfgAPExHIQ&usqp=CAU" : />
    <br />
    <br />
    <button class="btn btn-success sm">Mise</button>
    <button class="btn btn-warning sm">Transferer les jetons </button>
    <br />
    <br />
    <button class="btn btn-info sm">Derniere mise </button>
    <button class="btn btn-danger sm">Timer </button>
</div>